# Temp files
*~

# Databases
kaspad.db
*-shm
*-wal

# Log files
*.log

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Real binaries, build with `go build .`
kaspad
cmd/gencerts/gencerts
cmd/kaspactl/kaspactl
cmd/kasminer/kaspaminer
*.exe
*.exe~

# Output of the go coverage tool
*.out

# Folders
_obj
_test
vendor

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go


# IDE
.idea
.vscode
debug
debug.test
__debug_bin

# CI
version.txt
coverage.txt

testdbs/
coverage.tmp
